<!doctype html>
<html lang="ko" ng-app="todo" ng-controller="ItemsCtrl">
	<head>
		<meta charset="UTF-8">
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<script src="lib/angular-1.0.6/angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/main.js"></script>
		
		<title>TODO App Demo</title>
	</head>

	<div>
		<body class="well">
			<h1>Todo App</h1>
			<p>Remaining <strong>{{remainCount}}</strong> of <strong>{{items.length}}</strong>[ <a href="" ng-click="deletePost()">archive</a> ]</p>
			<ul class="unstyled" ng-repeat="item in items">
				<li><input type="checkbox" ng-model="item.done" ng-click="remain()">{{item.title}}</li>
			</ul>
			<form name="newItemForm" class="form-inline" action="">
				<div class="control-group">
					<div class="controls">
						<input type="text" name="newItemText" ng-model="item.title">
					</div>
				</div>
				<button id="add" class="btn btn-primary input-large"
				ng-click="addPost()">add</button>
			</form>

			<p>{{status}}</p>
		</body>
	</div>
</html>